body{
    background-color: #000000;
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: white;
    font-size: 3rem;
    margin: 0;
}

#clock{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#progressBar {
    rx: 100%;
    ry: 100%;
}

#progressBarContainer{
transform: rotate(180deg);
}

.buttonSection{
    width: 100%;
    padding-top: 3rem;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.roundButton{
    border-radius: 40rem;
    background-color: white;
    border: 0;
    width: 10rem;
    height: 5rem;
    font-size: 1rem;
    cursor: pointer;
}

.button1{
    float: left;
    width: 50%;
}

.button2{
    float: right;
    width: 35%;
}

.selector{
    background-color: white;
    padding: .8rem 1.4rem .9rem .8rem;
    width: 30%;
    border-radius: 5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}